@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

body {
  background-color: #f2eff2;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f2eff2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background: #333333;
  border-right: 2px #f2eff2 solid;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  transition: background-color 0.5s ease;
  background: #888888;
}