@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

html {
  overflow-x: hidden;
}

body {
  background-color: #f8f6f8;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f8f6f8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-clip: padding-box;

  border-right: 0px #f8f6f8 solid;
  border-radius: 0px;
}

.contact-text {
  filter: url(#distort);
}